@use "./variables.scss" as *;

.header {
    background-image: linear-gradient(to bottom, transparentize(black, 0.7), transparentize(white, 0.9)) ,url(../images/image-hero-mobile.jpg);
    background-size: cover cover;
    background-repeat: no-repeat;
    padding-inline: 6.4vw;//2.4rem
    padding-top: min(9.6vw, 5.3rem);//3.6rem;
    padding-bottom: 25rem;
    @media(min-width: $breakpoint) {
        background-image:linear-gradient(to bottom, transparentize(black, 0.5), transparentize(white, 0.9)), url(../images/image-hero-desktop.jpg);
        background-size: cover;
        padding-inline: min(11.5vw, 16.5rem);
        padding-bottom: min(22.5vw, 32.5rem);
    }
}