@use  './variables.scss' as *;

.progress {
    &__container {
        margin-top: 2rem;
    }
    &__bar {
        background-color: $light-gray;
        height: 1rem;
        border-radius: 50rem;
        width: 100%;
    }

    &__progress {
        background-color: $moderate-cyan;
        width: 80%;
        height: 1rem;
        border-radius: 50rem;
    }
}