@use './variables.scss' as *;

.select-reward {
    border: .2rem solid darken($light-gray, 5%);
    border-radius: 1rem;
    padding: 2.4rem;
    position: relative;
    display: grid;
    grid-template-columns:min-content;
    grid-template-areas: 
        "check text text"
        "desc desc desc"
        "q q q";
    row-gap: 2.4rem;
    column-gap: 1.7rem;
    cursor: pointer;
    transition: all 300ms;

    @media(min-width: $breakpoint2) {
        grid-template-areas: 
            "check text q"
            "check desc desc";
            row-gap: 1.5rem;
            column-gap: 2.4rem;
    }

    &[data-selected="true"] {
        padding-bottom: 17rem;
        border-color: $moderate-cyan;
        @media(min-width: $breakpoint2) {
            padding-bottom: 14rem;
        }
    }
    &:hover {
        .select-reward__checkbox {
            border-color: $moderate-cyan;
        }
        .select-reward__title {
            color: $moderate-cyan;
        }
    }

    &__checkbox-container {
        grid-area: check;
        display: grid;
        place-items: center left;
        @media(min-width: $breakpoint2) {
            align-self: start;
        }
    }
    &__checkbox {
        all: unset;
        display: block;
        border: .2rem solid darken($light-gray, 5%);
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        transition: all 300ms;

        &::after {
            content: "";
            display: block;
            width: 1.6rem;
            height: 1.6rem;
            border-radius: 50%;
            background-color: $moderate-cyan;
            position: relative;
            top: 50%;
            left: 50%;
            opacity: 1;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all 400ms;
        }
        &:checked::after {
            content: "";
            display: block;
            width: 65%;
            height: 65%;
            border-radius: 50%;
            background-color: $moderate-cyan;
            position: relative;
            top: 50%;
            left: 50%;
            opacity: 1;
            transform: translate(-50%, -50%);
        }
    }
    &__text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        grid-area: text;
        @media(min-width: $breakpoint2) {
            flex-direction: row;
            gap: 2rem;
        }
    }
    &__label {
        cursor: pointer;
    }
    &__title {
        font-family: $font;
        font-weight: bold;
        text-align: left;
        width: max-content;
        font-size: min(3.6vw, 1.6rem);
        margin: 0;
        transition: all 300ms;
    }
    &__pledge {
        font-family: $font;
        text-align: left;
        width: max-content;
        font-size: min(3.6vw, 1.6rem);
        color: $moderate-cyan;
        margin:0;
    }
    &__desc-wrapper {
        grid-area: desc;
    }
    &__description {
        @extend %text-secondary;
        text-align: left;
        margin: 0;
        line-height: 1.5;
    }
    &__quantity-container {
        display: flex;
        gap: 1rem;
        align-items: center;
        grid-area: q;
        width: max-content;
        @media(min-width: $breakpoint2) {
            justify-self: end;
        }
    }
    &__number {
        font-family: $font;
        font-weight: bold;
        text-align: left;
        width: max-content;
        font-size: min(3.7vw, 1.7rem);
        margin: 0;
    }
    &__text {
        @extend %text-secondary;
        text-align: left;
        margin: 0;
    }
    &__selected-menu {
        display: none;
        border-top: .2rem solid darken($light-gray, 5%);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        position: absolute;
        width: 100%;
        left: 0;
        padding: 2.2rem;
        padding-top: 3rem;
        bottom: 0;
        background-color: #fff;
        cursor: pointer;
        [data-selected="true"] & {
            display: block;
        }
    }
    &__selected-flex-container {
        @media(min-width: $breakpoint2) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    /*&__selected-label {

    }*/
    &__selected-text {
        @extend %text-secondary;
        margin: 0;
        margin-bottom: 2.2rem;
        @media(min-width: $breakpoint2) {
            margin-bottom: 0;
        }
    }
    &__selected-row {
        display: flex;
        align-items: center;
        gap: 1.7rem;
        justify-content: center;
    }
    &__selected-input {
        border: .2rem solid darken($light-gray, 5%);
        border-radius: 50rem;
        padding-inline: 2rem;
        padding-block: 1.5rem;
        width: 10rem;
        font-family: $font;
        font-weight: bold;
        font-size: min(3.73vw, 1.65rem);
        text-align: center;
        background-image: url(../images/dollar-currency-sign-svgrepo-com.svg);
        background-position: left 15% center;
        background-size: 1.65rem;
        background-repeat: no-repeat;
        &:focus {
            outline-color: $moderate-cyan; 
        }
        &:invalid {
            outline-color:red;
        }

    }
    &__selected-button {
        @extend %button;
        padding-inline: 2rem;
        padding-block: 1.5rem;
    }
}