@use './variables.scss' as *;

.container {
    background-color: #fff;
    padding-block: 4rem;
    padding-inline: 2.4rem;
    border: 1px solid darken($light-gray, 5%);
    border-radius: 1rem;
    position: relative;
    width: min(86.6vw, 73rem);
    margin: auto;
}

.logo {
    position: absolute;
    display: block;
    margin: auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.text-primary {
    font-family: $font;
    text-align: center;
    max-width: 18ch;
    margin: auto;
    font-size: 2rem;
    font-weight: bold;
    
    &--big {
        @extend .text-primary;
        font-size: 3.1rem;
        max-width: max-content;
        
    }
    &--left {
        @extend .text-primary;
        text-align: left;
        margin-left: 0;
    }
    &--small {
        @extend .text-primary;
        @extend .text-primary--left;
        width: max-content;
        font-size: 1.42rem;
        margin-bottom: 1.5rem;
    }
}

.text-secondary {
    font-family: $font;
    text-align: center;
    margin: auto;
    color: $dark-gray;
    font-size: 1.4rem;
    margin-top: 3rem;

    &--left {
        @extend .text-secondary;
        text-align: left;
        line-height: 1.5;
    }

    .text-primary--big + & {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }  
}

.text-accent {
    @extend .text-primary--small;
    color: $moderate-cyan;
    font-weight: normal;
}

.divider {
    width: 8rem;
    display: block;
    background-color: darken($light-gray, 5%);
    height: .1rem;
    margin: auto;
    margin-bottom: 2rem;
}

.row {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    width: max-content;
    margin-inline: auto;

    .text-secondary--left + & {
        margin-left: 0;
        margin-bottom: 3rem;

        p.text-secondary {
            max-width: max-content;
            max-height: max-content;
            margin:0;
        }
    }
}

.button {
    padding-inline: 4.5rem;
    padding-block: 2rem;
    background-color: $moderate-cyan;
    border: none;
    color: white;
    font-weight: bold;
    font-family: $font;
    border-radius: 50rem;
    cursor: pointer;
}

.bookmark {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &__icon {
        display: block;
        max-width: 100%;
    }
}

article {
    border: 1px solid darken($light-gray, 5%);
    border-radius: 1rem;
    padding: 2.4rem;
    margin-bottom: 2.4rem;

    .text-secondary--left + & {
        margin-top: 4rem;
    }
}