@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);
$light-gray: hsl(0, 0%, 98%);
$font: 'Commissioner', sans-serif;
$breakpoint: 600px;